  /* Variables */

  :root {
    --basic-dark-blue: #293449;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-white: #FFFFFF;
    --basic-extra-dark: rgba(0, 0, 0, 0.0001);
    --basic-black: #000000;
    --basic-blue: #32425C;
    --yellow-materials: #FFBF47;
    --yellow-delivery: #FFC047;
    --extra-blue-instrument: #3BBCE3;
    --purple-technic: #DC91D8;
    --light-green-sale: #8ED78F;
    --basic-gray: #A9A9A9;
    --basic-gray2: #C1C6CE;
    --basic-gray3: #C5C5C5;
    --basic-gray4: #B7BFC8;
    --basic-gray5: #ABABAB;
    --basic-gray6: #F4F4F4;
    --border-producer: #EAEAEA;
    --basic-white-header: #F9F5F0;
    --basic-extra-white-footer-text: #F3F7F9;
    --basic-extra-white-footer-nav: #F1F5F7;
    --basic-light-yellow: #FFD180;
    --basic-socials: linear-gradient(0deg, #212A3A, #212A3A);
    --basic-extra-white-catalog-h1: #F2F6F8;
    --basic-light-pink: #F7F3EC;
    --promo-buttom: rgba(255, 255, 255, 0.3);
    --shadow: rgba(0, 0, 0, 0.25);
    --background-modal: #565656;
    --shadow-modaal: 0px 0px 14.7px rgba(47, 42, 43, 0.5);

  /* :hover */
    --green-hover: #5FBB2D;
    --blue-hover: #293449;
    --promo-buttom-hover: rgba(197, 197, 197, 0.3);
    --link-button-hover: #CA2C37;

  /* :active */
    --red-active: #BA2732;
    --white-active: rgba(255, 255, 255, 0.5);
    --dark-blue-active: #1D2739;
    --promo-buttom-active: rgba(169, 169, 169, 0.3);
    --link-button-active: #BA2732;
  }


body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

.header {
    background: var(--basic-extra-white-catalog-h1);
  }
  
  .header-section1 {
    width: 1200px;
    height: 42px;
    background: var(--basic-dark-blue);  
  }

  .header-section1 a {
    color: var(--basic-white);
    font-size: 18px;
  }

  a.header-logo {
    background: var(--basic-red);
    display: block;
    width: 220px;
    height: 47px;
  }

  a.header-logo:active {
    background: var(--red-active);
  }

  .header-search input {
    background: var(--basic-dark-blue);
    border: none;
    font-size: 18px;
    font-family: "Cuprum", Arial, sans-serif;
  }

  .header-search input::placeholder {
    color: var(--basic-white);
  }

  .header-search input:active,
  .header-search input:focus {
    background: var(--basic-white);
  }

  .header-link-bookmarks:active,
  .header-link-basket:active,
  .header-link-order:active {
    color: var(--white-active);
  }

  .header-link-order {
    background-color: var(--basic-green);
  }

  .header-link-order:hover {
    background-color: var(--green-hover);
  }

.header-section2 {
    background-color: transparent;
  }

.header-section2-title {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
  }

  .header-section2-contacts {
    color: var(--basic-blue);
  }

.header-section2-tel {
    color: var(--basic-red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
  }

  .header-section2-authorization a {
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
  }

  .header-section2-authorization a:hover {
    color: var(--basic-red);
  }

  .header-section2-authorization a:hover {
    color: var(--basic-red);
  }

  .header-section2-authorization a:active {
    color: var(--basic-gray3);
  }

.header-navigation {
    background-color: var(--basic-blue);
  }

.header-navigation-list {
    list-style: none;
  }

.header-navigation-list a {
    color: var(--basic-white);
    font-size: 18px;
  }

  .header-navigation-list li:hover {
    background-color: var(--blue-hover);
  }

  .header-navigation-list li:active {
    background-color: var(--dark-blue-active);
  }

  .main-promo-list {
    list-style: none;
  }

  .main-promo-item {
    width: 300px;
    height: 123px;
    color: var(--basic-white);
  }

  .main-promo-item h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700px;
  }

  .main-promo-buttom {
    Width: 135px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background: var(--promo-buttom);
    text-transform: uppercase;
  }

  .main-promo-buttom a {
    color: var(--basic-white);
  } 

  .promo-materials {
    background-color: var(--yellow-materials);
  }

  .promo-instrument {
    background-color: var(--extra-blue-instrument);
  }

  .main-promo-buttom:hover {
    background-color: var(--promo-buttom-hover);
  }

  .main-promo-buttom:active {
    background-color: var(--promo-buttom-active);
  }

  .promo-technic {
    background-color: var(--purple-technic);
  }

  .promo-sale {
    background-color: var(--light-green-sale);
  }

  .promo-delivery {
    background-color: var(--yellow-delivery);
  }

  .main-promo-slide {
    width: 620px;
    height: 266px;
    color: var(--basic-white);
    background-color: var(--basic-dark-blue);
  }

  .main-promo-slide h2 {
    font-size: 36px;
    font-weight: 700px;
  }

  .main-promo-slide p {
    font-size: 18px;
  }

  .link-button {
    Width: 192px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background: var(--basic-red);
    text-transform: uppercase;
  }

  .link-button a {
    color: var(--basic-white);
  }

  .link-button:hover {
    background: var(--link-button-hover);
  }

  .link-button:active {
    background: var(--link-button-active);
  }

  .main-product-header,
  .main-producer-header {
    Width: 940px;
    height: 89px;
    background: var(--basic-white-header);
  }

  .main-product h2,
  .main-producer-header h2 {
    font-size: 30px;
    color: var(--basic-blue);
    text-transform: uppercase;
  }

  .main-product-list {
    Width: 940px;
    height: 318px;
    list-style: none;
  }

  .main-product-item {
    display: inline-block;
    Width: 220px;
    height: 318px;
    text-align: center;
  }

  .main-product-item h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: var(--basic-black);
  }

  .old-price {
    Width: 184px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--basic-gray);
  }

  .button-product {
    Width: 141px;
    height: 38px;
    text-align: center;
    margin: 0 auto;
    background: var(--basic-red) url(img/button-product.png);
  }

  .button-product a {
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 38px;
    font-weight: 700;
    color: var(--basic-white);
  }

  .main-producer-list {
    Width: 940px;
    height: auto;
    list-style: none;
  }

  .main-producer-item {
    display: inline-block;
    Width: 220px;
    height: 145px;
    border: 1px solid var(--border-producer);
  }
  
  .main-services {
    background: var(--basic-extra-white-footer-nav);
  }

  .main-services h2,
  .main-info h2 {
    font-size: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .main-services p,
  .main-info p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
  }

  .index-label {
    width: 240px;
    height: 61px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: var(--basic-white);
    background: var(--basic-blue);
  }

  .main-services-item h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    color: var(--basic-blue);
  }

  .index-label:hover {
    color: var(--basic-white);
    background: var(--blue-hover);
  }

  .index-label:active {
    color: var(--basic-blue);
    background: var(--blue-white);
  }

  .main-services-list input[type=radio] {
    display: none;
  }

  .main-info-text-list {
    list-style: none;
  }

  .red-line {
    background: var(--basic-red);
    width: 25px;
    height: 2px;
  }

  .main-info-text-item {
    font-size: 18px;
    color: var(--basic-black);
  }

  .main-info-text-link {
    width: 220px;
  }

  .main-info-map-link {
    width: 300px;
  }

  .footer-navigation {
    background: var(--basic-blue);
  }

  a.footer-navigation-logo {
    background: var(--basic-red);
    display: block;
    width: 220px;
    height: 68px;
  }

  .footer-navigation p,
  .footer-navigation a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-extra-white-footer-text);
  }

  .footer-navigation-list {
    list-style: none;
  }
  
  .footer-navigation-item a {
    color: var(--basic-extra-white-footer-nav);
  }

  .footer-socials {
    background: var(--basic-dark-blue);
  }

  .footer-socials {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white); 
  }

  .footer-socials-list {
    list-style: none;
  }

  .footer-socials-list li {
    position: relative;
    width: 44px;
    height: 44px;
    background: var(--basic-socials);
    border-radius: 50%;
  }

  .logo-socials {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  a.link-orange {
    color: var(--basic-light-yellow);
  }

  .footer-navigation-item a:hover {
    text-decoration-line: underline;
  }

  .footer-navigation-item a:active {
    opacity: 0.5;
    mix-blend-mode: normal;
    text-decoration-line: none;
  }

  .footer-socials-list li:hover {
    background: var(--basic-red);
  }

  .footer-socials-link:hover {
    text-decoration-line: underline;
  }

  .footer-socials-link:active {
    color: var(--basic-red);
    text-decoration-line: none;
  }

  .modal-question {
    width: 620px;
    height: 430px;
    background: var(--basic-white);
    border-top: 7px solid var(--basic-red);
  }

  .modal-question label {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
  }

  input.name-field,
  input.email {
    width: 220px;
    height: 38px;
    border: 2px solid var(--basic-gray3);
    box-sizing: border-box;
    border-radius: 2px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-gray);
  }

  textarea.comment {
    width: 460px;
    height: 114px;
    border: 2px solid var(--basic-gray3);
    box-sizing: border-box;
    border-radius: 2px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-gray);
  }

  .submit {
    width: 620px;
    height: 112px;
    background: var(--basic-gray6);
  }

  .submit input {
    width: 460px;
    height: 38px;
    background: var(--basic-red);
    filter: drop-shadow(0px 4px 4px var(--shadow));
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    text-align: center;
    line-height: 32px;
  }

  .modal-map {
    width: 943px;
    height: 449px;
    border-top: 7px solid var(--basic-red);
    background: var(--background-modal);
    box-shadow: 0px 0px 14.7px var(--shadow-modaal);
  }

  
    




